name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  xcode-build:
    name: Xcode Build
    runs-on: macOS-11
    strategy:
      matrix:
        platform: ['iOS_14', 'iOS_13']
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_13.2.1.app/Contents/Developer
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platform }}
      - name: Bundle Install
        run: bundle install
      - name: Pod Install
        run: bundle exec pod install --project-directory=Example
      - name: Build and Test
        run: Scripts/build.swift xcode ${{ matrix.platform }} `which xcpretty`
      - name: Upload Results
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: Test Results
          path: .build/derivedData/**/Logs/Test/*.xcresult
  pod-lint:
    name: Lint Pod
    runs-on: macOS-12
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_14.1.app/Contents/Developer
      - name: Lint Podspec
        run: bundle exec pod lib lint --verbose --fail-fast
  spm:
    name: SPM Build
    runs-on: macOS-12
    strategy:
      matrix:
        platform: ['iOS_16', 'iOS_15']
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_14.1.app/Contents/Developer
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platform }}
      - name: Build
        run: Scripts/build.swift spm ${{ matrix.platform }} `which xcpretty`
